
.preview-container203{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
}
.margin{
    margin-top:30px;
}
.preview203{
    width: 100%;
    
}
.header-container203{
    width: 100%;
    display: flex; /* Centers the icons horizontally */    
}