.preview10 {
    display: flex;
    justify-content: space-between;
}

.resume-preview10 {
    display: flex;
}


.resume-header10 {
    background-color: grey;
}

.resume-image-section10 {
    background-color: black;
    color: white;
}

.resume-image10 {
    width: 120px;
    height: 120px;
    margin-top: 60px;
    margin-left: 5px;
    background-color: black;
}

.resume-job-title10 {
    background-color: black;
    color: white;
}

.resume-job-title-text10 {
    background-color: yellow;
    color: black;
    border-radius: 5px;
}

.resume-education-heading10 {
    margin-top: 5px;
}
.name-div10 h1{
    white-space: nowrap;
}
.image-div10{
    margin-left: 10px;
}
.image10{
    width: 140px;
    height: 180px;
    margin-top: 25px;
    margin-left: 50px;
    background-color: black;

}

.resume-education-divider10,
.resume-skills-divider10,
.resume-contact-divider10,
.resume-experience-divider10,
.resume-hobbies-divider10,
.resume-about-divider10,
.resume-language-divider10 {
    width: 50px;
    height: 4px;
    background-color: yellow;
}
.main10{

    margin-left: 10px;
}
.resume-skills10,
.resume-skill-item10 {
    display: flex;
    justify-content: space-between;
}
.work-title10,.work-year10,.work-organization10{
    margin-top: -15px;
}
.resume-contact-icon10 {
    background-color: yellow;
    border-radius: 5px;
}

.resume-main10 {
    margin-left: 10px;
}

.resume-name10 {
    padding-top: 5px;
}

.resume-experience-item10 {
    display: flex;
    justify-content: space-between;
}

.resume-experience-line10 {
    width: 4px;
    background-color: yellow;
}

.resume-about10,
.resume-about-item10 {
    display: flex;
    justify-content: space-between;
}

.resume-about-line10 {
    height: 5px;
    background-color: grey;
}

.resume-download-section10,
.resume-download-controls10,
.resume-settings10 {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.resume-name-input10 {
    border-radius: 5px;
    padding: 10px;
}

.download-button10 {
    margin-left: 10px;
}

.bg-color-picker10 {
    margin-left: 10px;
}

.font-style-selector10 {
    margin-left: 10px;
}

/* preview10.css */

@media  (min-width: 1024px) {
    .resume-10{
        display: flex;
        flex-direction: row;
        width: 1024;
    }
    .resume-preview10 {
        padding: 5px;
        font-size: small;
        margin-right: 0px;
        margin-left: 0px;
        width: 60%;
    }
    .resume-preview10 h1{
        font-size: small;
    }
    .resume-preview10 h5{
        font-size: x-large;
    }
    .image10 {
        width: 100px;
        height: 160px;
        margin-right: 30px;
    }
    .work-year10{
        font-size: xx-small;
    }
    .work-title10{
        font-size: xx-small;
    }
    .main10{
       margin-left: 0px; 
       width: 768px;
       /* text-align: center; */
       padding-left: 10px;
       padding-right: 10px;
       margin-right: 5px;
    }
    .main1-div10{
        padding: 0px;
        /* width: 200px; */
        margin-left: -0px;
        margin-right: -0px;
        width: 100%;
    }
    .name-div10  p{
        font-size: small;
    }
    .name-div10 h1{
        font-size: medium;
    }

    .jobtite10 {
        font-size: xx-small;
        margin-top: 40px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .education10, .work-year10, .work-title10 {
        font-size: 16px;
    }

    .resume-download-section {
        flex-direction: column;
        justify-content: space-between;
    }

    .resume-name-input {
        width: 60%;
    }

    .bg-color-picker, .font-style-selector {
        width: auto;
    }

    .download-button {
        width: auto;
    }
}


/* Styles for medium screens (tablets) */
@media  (max-width: 768px) {
    .resume-10{
        display: flex;
        flex-direction: row;
        width: 768;
    }
    .resume-preview10 {
        padding: 5px;
        font-size: small;
        margin-right: 0px;
        margin-left: 0px;
        width: 60%;
    }
    .resume-preview10 h1{
        font-size: small;
    }
    .resume-preview10 h5{
        font-size: medium;
        font-weight: 700;
    }
    .image10 {
        width: 120px;
        height: 160px;
        margin-left: 10px;
    }
    .work-year10{
        font-size: xx-small;
    }
    .work-title10{
        font-size: xx-small;
    }
    .main10{
       margin-left: 0px; 
       width: 768px;
       /* text-align: center; */
       padding-left: 10px;
       padding-right: 10px;
       margin-right: 5px;
    }
    .main1-div10{
        padding: 0px;
        /* width: 200px; */
        margin-left: -0px;
        margin-right: -0px;
        width: 100%;
    }
    .name-div10  p{
        font-size: small;
    }
    .name-div10 h1{
        font-size: medium;
    }

    .jobtite10 {
       
        margin-top: 40px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

/* Styles for large screens (desktops) */

@media only screen and (max-width: 425px) {
    .resume-10{
        display: flex;
        flex-direction: column;
    }
    .resume-preview10 {
        padding: 5px;
        font-size: xx-small;
        margin-right: 0px;
        margin-left: 0px;
        width: 425px;
    }
    .resume-preview10 h1{
        font-size: small;
    }
    .resume-preview10 h5{
        font-size: small;
        font-weight: 700;
    }
    .image10 {
        width: 100px;
        height: 160px;
        margin-left: 8px;
    }
    .work-year10{
        font-size: xx-small;
    }
    .work-title10{
        font-size: xx-small;
    }
    .main10{
       margin-left: 0px; 
       width: fit-content;
       /* text-align: center; */
       padding-left: 10px;
       padding-right: 10px;
       margin-right: 5px;
    }
    .main1-div10{
        padding: 0px;
        /* width: 200px; */
        margin-left: -0px;
        margin-right: -0px;
        width: 100%;
    }
    .name-div10  p{
        font-size: small;
    }
    .name-div10 h1{
        font-size: medium;
    }

    .jobtite10 {
        font-size: xx-small;
        margin-top: 40px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .education10, .work-year10, .work-title10 {
        font-size: 16px;
    }

    .resume-download-section {
        flex-direction: column;
        justify-content: space-between;
    }

    .resume-name-input {
        width: 60%;
    }

    .bg-color-picker, .font-style-selector {
        width: auto;
    }

    .download-button {
        width: auto;
    }
}
@media  (max-width: 375px) {
    .resume-preview10 {
        padding: 5px;
        font-size: xx-small;
        margin-right: 0px;
        margin-left: 0px;
        width: 375px;
    }
    .resume-preview10 h1{
        font-size: small;
    }
    .resume-preview10 h5{
        font-size: small;
        font-weight: 700;
    }
    .image10 {
        width: 100px;
        height: 160px;
        margin-left: 7px;
    }
    .work-year10{
        font-size: xx-small;
    }
    .work-title10{
        font-size: xx-small;
    }
    .main10{
       margin-left: 0px; 
       width: fit-content;
       /* text-align: center; */
       padding-left: 10px;
       padding-right: 10px;
       margin-right: 5px;
    }
    .main1-div10{
        padding: 0px;
        /* width: 200px; */
        margin-left: -0px;
        margin-right: -0px;
        width: 100%;
    }
    .name-div10  p{
        font-size: small;
    }
    .name-div10 h1{
        font-size: medium;
    }

    .jobtite10 {
        font-size: xx-small;
        margin-top: 40px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .education10, .work-year10, .work-title10 {
        font-size: 16px;
    }

    .resume-download-section {
        flex-direction: column;
        justify-content: space-between;
    }

    .resume-name-input {
        width: 60%;
    }

    .bg-color-picker, .font-style-selector {
        width: auto;
    }

    .download-button {
        width: auto;
    }
}


@media (max-width: 320px) {
    .resume-preview10 {
        padding: 3px;
        width: 320px;
    }
    .resume-preview10 h1 {
        font-size: small;
    }
    .resume-preview10 p{
        font-size: xx-small;
    }
    .resume-preview10 h5 {
        font-size: small;
        font-weight: 700;
    }
    .image10 {
        margin-left: 20px;
       
        width: 70px;
        height: 100px;
        
    }
    
    .main10 {
        margin-right: 0px;
        width: 170px;
        padding-left: 10px;
        padding-right: 10px;
        padding-right: 5px;
        margin-right: 0;

    }
    
    
}
