.resume-container {
    display: flex;
    font-family: Arial, sans-serif;
    width: 70%;
    border: 5px solid #12aeb9;
  }
  .main11{
    display: flex;
    /* width: 100%; */
    /* flex-direction: column; */
  }
  
  .left-section {
    width: 50%;
    background-color: #12aeb9;
    padding: 20px;
    border-right: 2px solid #ddd;
    margin-left: 5px;
    margin-right: 10px;
    
  }
  
  .right-section {
    width: 50%;
    padding: 20px;
    /* margin-left: 5px; */
  }
  
  .profile {
    text-align: center;
    margin-bottom: 20px;
    /* white-space: nowrap; */
    /* margin-bottom: 50px; */

  }
  
  .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
    margin-left: 0px;
    /* margin-bottom: 50px; */
  }
  
  h1 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .contact-info{
    margin-top: 150px;
  }
  
  .contact-info, .education, .references, .about-me, .job-experience, .skills, .language-hobbies {
    margin-bottom: 20px;
    margin-top: 0px;
  }
  
  h3 {
    color: #0d6efd;
    margin-bottom: 10px;
  }
  
  .job-experience h4 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .skills ul, .language-hobbies ul {
    list-style: none;
    padding-left: 0;
  }
  
  .skills li, .language-hobbies li {
    margin-bottom: 5px;
  }
  .resume-download-section{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
  }


  @media (max-width:1024px){
    .resume-container {
        display: flex;
        font-family: Arial, sans-serif;
        width: 70%;
        border: 5px solid #12aeb9;
        font-size: small;
      }
      .resume-container h1{
        font-size: x-large;
      }
      .resume-container h3{
        font-size: small;
      }
      .main11{
        display: flex;
        /* flex-direction: column; */
        width: 100%;
        /* flex-direction: c; */
      }
      
      .left-section {
        width: 60%;
        background-color: #12aeb9;
        padding: 10px;
        border-right: 2px solid #ddd;
        margin-left: 5px;
        margin-right: 0px;
      }
      .work-title10{
        font-size: xx-small;
      }
      .right-section {
        width: 40%;
        padding: 5px;
        /* margin-left: 5px; */
      }
      
      .profile {
        text-align: center;
        margin-bottom: 20px;
        white-space: nowrap;
        position: relative;
        width: 120px;
        height: 120px;
      }
      
      .profile-img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 5px solid white;
        position: absolute;
        margin-top: 40px;
        margin-left: 0px;
        left: 0px;
        top: 15px;
      }
      .contact{
        display: flex;
        color: #3112b9;
        /* margin-bottom: 100px; */
      }
      .contact-info{
        margin-top: 100px;
      }
      .contact h3{
        color: black;
        font-size:medium ;
        margin-top: 3px;
      }
      .contact i{
        font-size: small;
      }
      .resume-download-section{
        display: flex;
        flex-direction: column;
        width: 30%;
        justify-content: center;
      }   
  } 

  @media (max-width:768px){
    .resume-container {
        display: flex;
        font-family: Arial, sans-serif;
        width: 100%;
        border: 5px solid #12aeb9;
        font-size: small;
      }
      .resume-container h1{
        font-size: small;
      }
      .resume-container h3{
        font-size: small;
      }
      .main11{
        display: flex;
        width: 100%;
        flex-direction: column;
      }
      
      .left-section {
        width: 60%;
        background-color: #12aeb9;
        padding: 10px;
        border-right: 2px solid #ddd;
        margin-left: 5px;
        margin-right: 0px;
      }
      .work-title10{
        font-size: xx-small;
      }
      .right-section {
        width: 40%;
        padding: 5px;
        /* margin-left: 5px; */
      }
      
      .profile {
        text-align: center;
        margin-bottom: 20px;
        white-space: nowrap;
        position: relative;
      }
      
      .profile-img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 5px solid white;
        position: absolute;
        margin-top: 40px;
        margin-left: 0px;
        left: 0px;
        top: 15px;
      }
      .contact{
        display: flex;
        color: #3112b9;
        /* margin-bottom: 100px; */
      }
      .contact-info{
        margin-top: 100px;
      }
      .contact h3{
        color: black;
        font-size:x-small ;
        margin-top: 3px;
      }
      .contact i{
        font-size: small;
      }
       
  } 

  @media (max-width:425px){
    .resume-container {
        display: flex;
        font-family: Arial, sans-serif;
        width: 100%;
        border: 5px solid #12aeb9;
        font-size: x-small;
        color: grey;
      }
      .resume-container h1{
        font-size: small;
      }
      .resume-container h3{
        font-size: small;
      }
      .main11{
        display: flex;
        width: 100%;
        flex-direction: column;
      }
      
      .left-section {
        width: 60%;
        background-color: #12aeb9;
        padding: 20px;
        border-right: 2px solid #ddd;
        margin-left: 5px;
        margin-right: 10px;
      }
      .work-title10{
        font-size: xx-small;
      }
      .right-section {
        width: 40%;
        padding: 5px;
        /* margin-left: 5px; */
      }
      
      .profile {
        text-align: center;
        margin-bottom: 20px;
        white-space: nowrap;
        position: relative;
      }
      
      .profile-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 5px solid white;
        position: absolute;
        margin-top: 40px;
        margin-left: 20px;
        left: 0px;
        top: 15px;
      }
      .contact-info{
        margin-top: 50px;
      }
      .contact{
        display: flex;
        color: #3112b9;
        /* margin-bottom: 100px; */
      }
      .contact h3{
        color: black;
        font-size:x-small ;
        margin-top: 3px;
      }
      .contact i{
        font-size: small;
      }   
  } 

  @media (max-width:375px){
    .resume-container {
        display: flex;
        font-family: Arial, sans-serif;
        width: 100%;
        border: 5px solid #12aeb9;
        font-size: xx-small;
      }
      .resume-container p{
        font-size: xx-small;

      }
     
      .resume-container h3{
        font-size: small;
        font-weight: 900;
      }
      .main11{
        display: flex;
        width: 100%;
        flex-direction: column;
      }
      
      .left-section {
        width: 60%;
        background-color: #12aeb9;
        padding: 20px;
        border-right: 2px solid #ddd;
        margin-left: 5px;
        margin-right: 10px;
      }
      .work-title10{
        font-size: xx-small;
      }
      .right-section {
        width: 40%;
        padding: 5px;
        /* margin-left: 5px; */
      }
      
      .profile {
        text-align: center;
        margin-bottom: 20px;
        white-space: nowrap;
        position: relative;
      }
      
      .profile-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 5px solid white;
        position: absolute;
        margin-top: 40px;
        margin-left: 0px;
        left: 0px;
        top: 15px;
      }
      .contact-info{
        margin-top: 50px;
      }
      .contact{
        display: flex;
        color: #3112b9;
        /* margin-bottom: 100px; */
        /* margin-top: -3px; */
      }
      .contact h3{
        color: black;
        font-size:x-small ;
        margin-top: 3px;
      }
      .contact i{
        font-size: small;
      }   
  } 

  @media (max-width:320px){
    .resume-container {
        display: flex;
        font-family: Arial, sans-serif;
        width: 100%;
        border: 5px solid #12aeb9;
        
      }
      .resume-container p{
        font-size: xx-small;
      }
      
      .resume-container h3{
        font-size: small;
        font-weight: 900;
      }
      .main11{
        display: flex;
        width: 100%;
        flex-direction: column;
      }
      
      .left-section {
        width: 60%;
        background-color: #12aeb9;
        padding: 20px;
        border-right: 2px solid #ddd;
        margin-left: 5px;
        margin-right: 10px;
      }
      
      .right-section {
        width: 40%;
        padding: 5px;
      }
      
      .profile {
        text-align: center;
        margin-bottom: 20px;
        white-space: nowrap;
        position: relative;
        /* margin-top: 25px; */
        margin-bottom: 150px;
      }
      
      .profile-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 5px solid white;
        position: absolute;
        margin-top: 60px;
        margin-left: 0px;
        left: 0px;
        top: 15px;
      }
      .contact{
        display: flex;
        color: #3112b9;
        /* flex-direction: column; */
        /* margin-bottom: 100px; */
      }
      .contact-info{
        margin-top: -50px;
      }
      .contact h3{
        color: black;
        font-size:small ;
        margin-top: 3px;
      }
      .contact i{
        font-size: small;
      }
     
      
      
  }