.main108{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 15px;
}
.Alisha{
    width: 50%;
    padding: 20px;
}
.name108{
text-align: center;
}
.name108 p, .name108 h1{
text-align: start;
}
.name108 h1{
    margin-bottom: -10px;
}
.contact108{
    /* text-align: center; */
    display: flex;
    justify-content: space-around;
}
.contact108 p{
    font-size: xx-small;
    
}
.hrtop{
margin-bottom: -1px;
width: 100%;
}
.hrbottom{
    margin-top: -10px;
    width: 100%;
}
.experience-section108 p{
    font-size: 1rem;
    margin-bottom: -5px;
}
.technical-skill-item108{
    display: flex;
    justify-content: space-between;
}
.technical-skill-item108 P{
    margin-bottom: -5px;
}