/* Main Container */
.preview-main7 {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    padding: 20px;
    box-sizing: border-box;
    /* padding-right: -50px-; */
    /* font-size: xx-small; */
    height: 100%;
}

/* Resume Preview Section */
.resume-previeww7 {
    background-color: inherit;
    font-family: inherit;
    width: 100%;
}
.text-end{
    padding-right: 10px;
}
.name-div7{
    text-align: center;
    
}
/* Inner Sections */
.name-div7, 
.contact-div7, 
.education-div7, 
.skills-div7, 
.hobbies-div7, 
.job-experience7, 
.language7, 
.resume-download-section {
    margin-bottom: 20px;
}

.contact-div7 p{
    text-align: end;
}
.contact-div7 hr{
    width: inherit;
}
/* Divider */
.devider7 {
    width: 3px;
    background-color: grey;
    
    height: inherit;
    /* text-align: end; */
}

/* Headings */
.heading7 {
    margin-bottom: -10px;
    white-space: nowrap;
    font-weight: 700;
    
}
.job-experience7{
    padding-left: 10px;

}
.job-experience7 p{
    text-align: start;
}
/* Responsive Styles */



@media (min-width: 1025px) {
    .preview-main7{
        display: flex;
    }
    .resume-preview7 {
        max-width: 80%;
        padding: 20px;
    }
    .name-div7 h1 {
        font-size: 2.5rem;
        text-align: center;
    }
    .name-div7 p{
        text-align: center;
    }
}


@media (max-width: 768px) {
    .preview-main7 {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding-right: -1500px;
    }
    .resume-preview7 {
        width: 100%;
        /* display: flex; */
    }
    .name-div7 h1 {
        font-size: large;
        text-align: center;
    }
    .name-div7 h1{
        text-align: center;
        font-size: medium;
        font-weight: 900;
    }
    .preview-main7 h5{
        font-size: large;
        font-weight: 900;
    }
    .devider7{
        width: 3px;
    background-color: grey;
    margin-right: 10px;
    margin-left: 10px;
    height: inherit;
    /* padding-left: 0px; */
    }
    .name-div7 p{
        text-align: center;
        font-size: medium;
    }
    .contact-div7, 
    .education-div7, 
    .skills-div7, 
    .hobbies-div7, 
    .job-experience7, 
    .language7 {
        /* padding: 5px; */
        font-size: medium;
    }
    .job-experience7{
        
        margin-right: -0px;
    }
    .education-div7{
        /* margin-left: -15px; */
    }
    .text-end{
        margin-left: -10px;
    }

}


@media (max-width: 425px) {
    .preview-main7 {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding-right: -00px;
        padding-left: 0px;
    }
    .resume-preview7 {
        width: 100%;
        /* display: flex; */
    }
    .name-div7 h1 {
        font-size: large;
        text-align: center;
    }
    .name-div7 h1{
        text-align: center;
        font-size: medium;
        font-weight: 900;
    }
    .preview-main7 h5{
        font-size: small;
        font-weight: 900;
    }
    .devider7{
        width: 3px;
    background-color: grey;
    margin-right: 5px;
    margin-left: 5px;
    height:inherit;
    }
    .name-div7 p{
        text-align: center;
        font-size: small;
    }
    .contact-div7, 
    .education-div7, 
    .skills-div7, 
    .hobbies-div7, 
    .job-experience7, 
    .language7 {
        /* padding: 5px; */
        font-size: x-small;
    }
    .job-experience7{
        
        margin-right: -0px;
    }
    .education-div7{
        /* margin-left: -15px; */
    }
    .text-end{
        margin-left: -10px;
    }

}


@media (max-width: 375px) {
    .preview-main7 {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding-right: -00px;
        padding-left: 0px;
    }
    .resume-preview7 {
        width: 100%;
        /* display: flex; */
    }
    .name-div7 h1 {
        font-size: large;
        text-align: center;
    }
    .name-div7 h1{
        text-align: center;
        font-size: medium;
        font-weight: 900;
    }
    .preview-main7 h5{
        font-size: x-small;
        font-weight: 900;
    }
    .devider7{
        width: 3px;
    background-color: grey;
    margin-right: 20px;
    margin-left: 20px;
    height:inherit;
    }
    .name-div7 p{
        text-align: center;
        font-size: x-small;
    }
    .contact-div7, 
    .education-div7, 
    .skills-div7, 
    .hobbies-div7, 
    .job-experience7, 
    .language7 {
        /* padding: 5px; */
        font-size: xx-small;
    }
    .job-experience7{
        
        margin-right: -0px;
    }
    .education-div7{
        /* margin-left: -15px; */
    }
    .text-end{
        margin-left: -10px;
    }

}

@media (max-width: 320px) {
    .preview-main7 {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding-right: -00px;
        padding-left: 0px;
        width: 100%;
    }
    .resume-preview7 {
        width: 320px;
        /* display: flex; */
        margin-right: 0px;
    }
    .resume-preview7 p{
        font-size: xx-small;
    }
    .name-div7 h1 {
        font-size: large;
        text-align: center;
        font-size: medium;
        font-weight: 900;
    }
    
    .preview-main7 h5{
        font-size: x-small;
        font-weight: 900;
    }
    .devider7{
        width: 3px;
    background-color: grey;
    margin-right: 10px;
    margin-left: 10px;
    height:inherit;
    }
    .name-div7 p{
        text-align: center;
        font-size: x-small;
    }
    .contact-div7, 
    .education-div7, 
    .skills-div7, 
    .hobbies-div7, 
    .job-experience7, 
    .language7 {
        /* padding: 5px; */
        font-size: xx-small;
    }
    .job-experience7{
        
        margin-right: -0px;
    }
    .education-div7{
        /* margin-left: -15px; */
    }
    .text-end{
        margin-left: 10px;
    }

}

