.SalaryNegotiationComponent{
    margin-left: 150px;
    margin-right: 150px;
    box-shadow: 0px 0px 2px 5px rgb(207, 166, 166);
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
}
.SalaryNegotiationComponent h1,.SalaryNegotiationComponent h2{
    font-weight: 900;
    color: black;
}
.do-section{
    /* border: 1px solid grey; */
}
.do-point{
    background-color: black;
    color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    margin-top: 10px;
}
.do-point h3,.do-point p{
color: white;
}
.do-point img {
    width: 600px;
    border-radius: 28px;
    height: 350px; /* This keeps the height at half the width */
    object-fit: contain; /* Ensures image maintains its proportions */
}

.dont-point{
    background-color: black;
    color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    margin-top: 10px;
}
.dont-point h3,.dont-point p{
    color: white;
    }

    .dont-point img {
        width: 100%;
        border-radius: 8px;
        height: fit-content; /* This keeps the height at half the width */
        object-fit: cover; /* Ensures image maintains its proportions */
    }
    @media (max-width:780px) {
        .SalaryNegotiationComponent{
            width: 100%;
            margin-left: 0px;
    margin-right: 0px;
    box-shadow: 0px 0px 2px 5px rgb(207, 166, 166);
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
        }
    }

    @media (max-width:320px) {
        .SalaryNegotiationComponent{
            width: 100%;
            margin-left: 0px;
    margin-right: 0px;
    box-shadow: 0px 0px 2px 5px rgb(207, 166, 166);
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
        }
    }