
/* Container class for the Home component */
.home-container {
    margin-left: 0;
    margin-right: 0;
    padding: 20px; /* Optional: Adds some space inside the container */

    background: linear-gradient(145deg, white); /* Dark gradient background */
    
    filter: contrast(85%) brightness(75%); /* Reduces brightness and increases contrast for a moody look */
    color: #e0e0e0; /* Light gray text color for readability */
}
.home-container p,ul{
    font-weight: 200;

}


/* Warning message for refreshing the page */
@keyframes move {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Refresh warning with animation */

.home_div{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Container for the logo */
/* Container for the logo */
.home-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

/* Add rotation animation to the logo */
.home-logo img {
    width: 120px; /* Adjust as needed */
    height: 120px;
    animation: rotate 3s linear infinite;
    border: 2px solid black;
    border-radius: 50%;
}

/* Keyframes for the rotation animation */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Welcome message and link */
.home-welcome {
    margin-top: 25px;
    text-align: justify;

    
}
.home-welcome h4{
    font-size: 30px;
            font-weight: bold;
            background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
            -webkit-background-clip: text;
            color: transparent;
            margin-left: 20px;
}
.home-welcome h4 a{
    text-decoration: none;
    font-size: small;
}

.home-link {
}

/* Carousel container */
.home-carousel {
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    /* border: 5px solid green; */
}

/* Description of the ResumeEra platform */
.home-description {
    color: black;
    font-weight: 200;
}

/* Section for how to create a resume */
.home-how-to {    
    text-align: center;
    font-size: 30px;
            font-weight: bold;
            color: black;
            margin-left: 20px;

}

/* Steps for creating a resume */
.home-steps {
    display: flex;
    justify-content: space-around;
}
.home-step p {
    font-size: medium;
    font-weight: 200;
}

.home-step img {
    width: 200px;
}

/* Divider line */
.home-divider {
}

/* Section for changing CV */
.home-change-cv {
    display: flex;
    justify-content: space-around;
}

.home-change-cv-image {
    margin: 5px;
    padding: 5px;
   
}
.home-change-cv-image img{
    width: 250px;
    height: 250px;
}

.home-change-cv-info {
    margin-left: 15px;
    padding: 5px;
    margin-top: 45px;
    /* font-size: 30px; */
            /* font-weight: bold; */
           color:black
}
.home-change-cv-info h4{
    font-weight: 700;
}
.home-change-cv-info p{
    font-weight: 200;
}
.home-change-cv-info p a{
    border: 3px solid black;
    text-decoration: none;
    border-radius: 8px;
    background-color: aqua;
    padding: 15px;
    text-align: center;
    font-size: 20px;
            font-weight: bold;
            /* background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
            -webkit-background-clip: text;
            color: transparent; */
    
}

/* Features of the resume builder */
.home-resume-builder {
    text-align: center;
}

.home-resume-features {
    display: flex;
    justify-content: space-around;
}
.home-resume-builder h4{
    font-weight: 700;
    color: black;
}
.home-resume-builder p{
    font-weight: 200;
    color: black;
}

.home-feature {
    margin: 15px;
    padding: 5px;
    text-align: justify;
}
.home-feature h5{
 color:black;
 font-weight: 900;
}
.home-feature p{
    
            color: black;
}


/* Section for creating a professional story */
.home-professional-story {
    text-align: center;
    /* display: flex; */
    border: 2px solid grey;
    border-radius: 8px;
    padding: 10px;
    /* background-color:whitesmoke; */
    color:black
}
.home-professional-story h2 {
    color: black;
    font-weight: 700;
}

.home-professional-story p {
    color: black;
    font-weight: 200;
}
.home-story-feature-main{
    display: flex;
    
}
.home-story-feature {
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
    text-align: justify;
    margin: 5px;
}
.home-story-feature h3{
    background: linear-gradient(145deg, orange, violet);
    -webkit-background-clip: text;
    color: transparent;

}

/* Section for cover letter */
.home-cover-letter h2 {
    text-align: center;
   font-weight: 700;
    color: black;
    
}
.home-cover-letter p{
    text-align: justify;
    color: black;
    font-weight: 200;
}

.home-cover-letter-carousel {
}


/* For devices with max width of 425px */
@media (max-width: 768px) {
    /* home.css */

    .home-container {
        margin-left: 0px;
        margin-right: 0px;
    }

    .home_div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 20px;
    }

    .home-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-logo img {
        width: 100px; /* Adjust as needed */
        height: 100px;
        animation: rotate 3s linear infinite;
        border: 2px solid transparent;
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    .home-welcome {
        margin-top: 25px;
        text-align: center;
    }

    .home-welcome h4 {
        font-size: 30px;
        font-weight: bold;
        background: linear-gradient(90deg, white);
        -webkit-background-clip: text;
        color: transparent;
        margin-left: 20px;
    }

    .home-description {
        text-align: justify;
        margin: 5px;
    }

    .home-how-to,
    .home-how-to p,
    .home-step {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: black;
        margin-left: 20px;
    }

    .home-steps {
        display: flex;
        flex-direction: column;
    }

    .home-step p {
        font-size: medium;
        font-weight: 200;
    }

    .home-step h4 {
        font-weight: 700;
    }

    .home-step img {
        width: 200px;
    }

    .home-change-cv {
        display: flex;
        flex-direction: column;
    }

    .home-change-cv-image img {
        width: 250px;
        height: 250px;
    }

    .home-change-cv-info h4,
    .home-change-cv-info ul {
        font-weight: 700;
        color: black;
    }

    .home-change-cv-info p a {
        border: 3px solid black;
        text-decoration: none;
        border-radius: 8px;
        background-color: aqua;
        padding: 15px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        margin-left: 35px;
        margin-top: 10px;
    }

    .home-resume-builder h4,
    .home-resume-builder p {
        text-align: center;
        color: black;
    }

    .home-resume-features {
        display: flex;
        flex-direction: column;
        color: black;
    }

    .home-feature {
        margin: 5px;
        padding: 5px;
        text-align: justify;
    }

    .home-professional-story {
        background-color: whitesmoke;
    }
    .home-story-feature-main{
        display: flex;
        flex-direction: column;
    }
}


/* For devices with max width of 425px */
@media (max-width: 425px) {
    /* home.css */

    .home-container {
        margin-left: 0px;
        margin-right: 0px;
    }

    .home_div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 20px;
    }

    .home-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-logo img {
        width: 100px; /* Adjust as needed */
        height: 100px;
        animation: rotate 3s linear infinite;
        border: 2px solid transparent;
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    .home-welcome {
        margin-top: 25px;
        text-align: center;
    }

    .home-welcome h4 {
        font-size: 30px;
        font-weight: bold;
        background: linear-gradient(90deg, white);
        -webkit-background-clip: text;
        color: transparent;
        margin-left: 20px;
    }

    .home-description {
        text-align: justify;
        margin: 5px;
    }

    .home-how-to,
    .home-how-to p,
    .home-step {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: black;
        margin-left: 20px;
    }

    .home-steps {
        display: flex;
        flex-direction: column;
    }

    .home-step p {
        font-size: medium;
        font-weight: 200;
    }

    .home-step h4 {
        font-weight: 700;
    }

    .home-step img {
        width: 200px;
    }

    .home-change-cv {
        display: flex;
        flex-direction: column;
    }

    .home-change-cv-image img {
        width: 250px;
        height: 250px;
    }

    .home-change-cv-info h4,
    .home-change-cv-info ul {
        font-weight: 700;
        color: black;
    }

    .home-change-cv-info p a {
        border: 3px solid black;
        text-decoration: none;
        border-radius: 8px;
        background-color: aqua;
        padding: 15px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        margin-left: 35px;
        margin-top: 10px;
    }

    .home-resume-builder h4,
    .home-resume-builder p {
        text-align: center;
        color: black;
    }

    .home-resume-features {
        display: flex;
        flex-direction: column;
        color: black;
    }

    .home-feature {
        margin: 5px;
        padding: 5px;
        text-align: justify;
    }

    .home-professional-story {
        background-color: whitesmoke;
    }
    .home-story-feature-main{
        display: flex;
        flex-direction: column;
    }
}

/* For devices with max width of 375px */
@media (max-width: 375px) {
    /* Similar styles as above but specific to this width */
    .home-container {
        width: 100%;
    }

    /* Adjust other styles as needed */
    .home-logo img {
        width: 90px;
        height: 90px;
    }

    .home-step img {
        width: 180px;
    }
}

/* For devices with max width of 320px */
@media (max-width: 320px) {
    .home-container {
        width: 100%;
    }

    .home-logo img {
        width: 80px;
        height: 80px;
    }

    .home-step img {
        width: 160px;
    }
    .home-story-feature-main{
        display: flex;
        flex-direction: column;
        width: 260px;
    }
}
