.myresume {
    padding: 20px;
    background-color: #f7f8fc;
    margin-bottom: 1000px;
  }
  
  .myresume h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
  }
  
  .myresume .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
   .card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #fff;
    height: 400px;
    width: 1000px;
  }
  
  .myresume .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
  
  .myresume .card img {
    border-bottom: 1px solid #ddd;
    height: 300px;
    /* object-fit: cover; */
    transition: transform 0.3s ease-in-out;
    width: inherit;
  }
  
  .myresume .card img:hover {
    transform: scale(1.1);
  }
  
  .myresume .card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .myresume .card-body .btn {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 8px 16px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
  }
  
  .myresume .btn-primary {
    background-color: #007bff;
    border: none;
  }
  
  .myresume .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .myresume .btn-danger {
    background-color: #dc3545;
    border: none;
  }
  
  .myresume .btn-danger:hover {
    background-color: #c82333;
  }
  
  @media (max-width: 768px) {
    .myresume .card {
      margin-bottom: 20px;
    }
  
    .myresume h1 {
      font-size: 2rem;
    }
  }
  