.resume-guide {
    font-family: Arial, sans-serif;
    margin: 40px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .resume-guide-image_div{
    display: flex;
    justify-content: space-between;
  }
  .resume-guide-image {
    /* align-items: center; */
    width: 45%; /* Make the image responsive */
    height: 250px;
    margin: 20px 0; /* Add some spacing */
    border-radius: 8px; /* Optional: Add rounded corners */
}
  .resume-guide-title {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .resume-guide-intro {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }
  .resume-guide-image_div{
    display: flex;
    object-fit: cover;
  }
  
  .resume-guide-section-title {
    font-size: 22px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .resume-guide-content {
    font-size: 16px;
    color: #444;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  @media(max-width:320px){
    .resume-guide-image_div{
      display: flex;
      object-fit: cover;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .resume-guide-image_div img{
      display: flex;
      object-fit: cover;
      width: 100%;
    }
    .resume-guide-image{
      width: 100%;
    }
    
      
  }
  
  @media(max-width:375px){
    .resume-guide-image_div{
      display: flex;
      object-fit: cover;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .resume-guide-image_div img{
      display: flex;
      object-fit: cover;
      width: 100%;
    }
    .resume-guide-image{
      width: 100%;
    }
    
      
  }
  
  @media(max-width:425px){
    .resume-guide-image_div{
      display: flex;
      object-fit: cover;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .resume-guide-image_div img{
      display: flex;
      object-fit: cover;
      width: 100%;
    }
    .resume-guide-image{
      width: 100%;
    }
    
      
  }
  
  @media(min-width:768px){
    .resume-guide-image_div{
      display: flex;
      object-fit: cover;
      display: flex;
      flex-direction: row;
      width: 100%;
    }
    .resume-guide-image_div img{
      /* display: flex; */
      object-fit: cover;
      width: 95%
    }
    .resume-guide-image{
      width: 100%;
    }
    
      
  }