.resumeTrend2024{
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 50px;
}
.resumeTrend2024 h1{
    font-family: cursive;
    font-weight: 900;
    /* width: 100%;
    max-height: 300px; */
}
.resumeTrend2024 img{
    width: 100%;
    max-height: 350px;
    border-radius: 15px;
    box-shadow:5px 5px 20px 5px palegreen ;
}
.resumeTrendsMain{
    width: 60%;
}