.app { 
  
}

.input {
  /* width: fit-content; */
    max-width: 190px;
    border: 1px solid transparent;
    border-color: #00DDEB;
    outline: none;
    background: none;
    font-size: 18px;
    color:black;
    padding: 15px 5px 10px 20px;
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); */
      /* linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); */
    background-position: bottom right, bottom right;
    background-size: 100% 100%, 100% 100%;
    background-repeat: no-repeat;
    /* box-shadow: inset -4px -10px 0px rgba(255, 255, 255, 0.4), */
      /* inset -4px -8px 0px rgba(0, 0, 0, 0.3), */
      /* 0px 2px 1px rgba(0, 0, 0, 0.3), */
      /* 0px 2px 1px rgba(255, 255, 255, 0.1); */
    /* transform: perspective(70px) rotateX(5deg) rotateY(0deg); */
    border-radius: 10px;
  }
  
  .input::before {
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), */
      /* linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); */
    background-position: bottom right, bottom right;
    background-size: 100% 100%, 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
    border-radius: 15px;
    transition: all .1s ease-in-out 0s;
  }
  
  .input:focus {
    /* border: 2px solid #c3c6ce; */
  }
  
  .input::placeholder {
    color: #fff;
    transition: all 0.3s ease;
  }
  
  .input:focus::placeholder {
    /* color: #999; */
  }
  
  
  
.one{
    margin: 5px;
    justify-content: space-around;
}
.second{
  display: flex;
  justify-content: center;
  align-items: center;
}
.textarea{
  width: 50%;
    border: 1px solid transparent;
    border-color: #00DDEB;
    outline: none;
    background: none;
    font-size: 18px;
    color:black;
    padding: 15px 5px 10px 20px;
    
    background-position: bottom right, bottom right;
    background-size: 100% 100%, 100% 100%;
    background-repeat: no-repeat;
    
    border-radius: 10px;
    display: flex;
    justify-content: space-around;

}

.firstDiv{
    border-radius: 5px;
    padding: 10px;
    box-shadow: 20px 20px 60px rgb(63, 56, 56), inset -20px 60px white;
}
.secondDiv{
    border-radius: 5px;
    padding: 10px;
    box-shadow: 20px 20px 60px rgb(63, 56, 56), inset -20px 60px white;


}
.resume{
    font-size: 50px;
    font-weight:800;
    background-image: url('https://buffer.com/library/content/images/2023/10/free-images.jpg');
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
   box-shadow: (10px,10px,20px,#100129);

}
.boximage{
    height: 150px;
    width: 150px;
    /* overflow: hidden; */
}

.image{
    height: 150px;
    width: 150px;
    object-fit: cover;
    transition: all ease 1s;
}

@media only screen and (max-width: 650px) {
    .image {
      width: 100%;
      height: auto;
    }
    .navbar{
      width: 650px;
    }
  }
  
.boximage:hover img{
    scale: 1.2;
}
.tempLink{
    font-size: 20px;
    font-weight: 800;
    margin-right: 4px;
}
.navbar{
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
}

.button {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
   }
   
   button:active,
   button:hover {
    outline: 0;
   }
   
   button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
   }
   
   button:hover span {
    background: none;
   }
   
   button:active {
    transform: scale(0.9);
   }

   .card {
    position: relative;
    width: 190px;
    height: 50px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    margin-bottom: 150px;
  }
  @media only screen and (max-width: 600px) {
    .card {
      width: 100%;
      height: auto; /* Reset height to auto for small screens */
    }
  }
  
  /* Media query for large screens */
  @media only screen and (min-width: 1200px) {
    .card {
      width: auto; /* Reset width to auto for large screens */
      height: 100%;
      /* margin-bottom: ; */
    }
  }
  
  .card::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 200px;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
  }
  
  .card p:not(.heading) {
    font-size: 14px;
  }
  
  .card p:last-child {
    color: #e81cff;
    font-weight: 600;
  }
  
  .card:hover::after {
    filter: blur(30px);
  }
  
  .card:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
  }

  .socials-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 20px 40px;
    background-color: #333333;
  }
  .social {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgb(194, 194, 194);
  }
  .twitter:hover {
    background: linear-gradient(45deg, #66757f, #00acee, #36daff, #dbedff);
  }
  .facebook:hover {
    background: linear-gradient(45deg, #134ac0, #316ff6, #78a3ff);
  }
  .google-plus:hover {
    background: linear-gradient(45deg, #872419, #db4a39, #ff7061);
  }
  .instagram:hover {
    background: #f09433;
    background: -moz-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }
  .social svg {
    fill: white;
    height: 20px;
  }
  
  
  
  .shape-container {
    
    background-color: rgb(238, 231, 232);
    border:1px solid green
  }

  .work-item {
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
}

.line {
    width: 2px;
    height: 200px; /* Adjust the height of the line */
    background-color: #ccc;
    margin: 0 10px; /* Adjust the margin for spacing */
}

.circle {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left:5px;
    transform: translateY(-50%);
}

.content {
    padding: 0 10px;
}

/* Optional: Remove right border from the last item */
.work-item:last-child .circle:last-child {
  
}
.c{
  background-color: #414242cc;
}